alias dc='docker'
alias dca='docker attach'
alias dcb='docker build'
alias dcbt='docker build -t'
alias dci='docker images'
alias dcit='docker inspect'
alias dcs='docker search'
alias dcp='docker ps'
alias dcpa='docker ps -a'
alias dcpid='docker inspect -f {{.State.Pid}}'
alias dcpt='docker port'
alias dcr='docker run'
alias dcrd='docker run -d'
alias dcrdh='docker run -d --network host'
alias dcrdhn='docker run -d --network host --name'
alias dcrdn='docker run -d --name'
alias dcrdP='docker run -d -P'
alias dcrdPn='docker run -d -P --name'
alias dcrit='docker run -it'
alias dcritn='docker run -it --name'
alias dcritP='docker run -it -P'
alias dcritPn='docker run -it -P --name'
alias dcrm='docker rm'
alias dcrmi='docker rmi'
alias dcrn='docker run --name'
alias dcst='docker start'
alias dcsp='docker stop'
# ssh aliases
alias sshrdp='ssh root@dockerhost -p'
alias sshrlp='ssh root@localhost -p'
alias sshrws2p='ssh root@ws2.cielosun.club -p'
alias sshrwsp='ssh root@ws.cielosun.club -p'
alias sshrsync='cp -r /mnt/c/Users/Cielo/OneDrive/系统/.ssh ~'
alias sshsync='cp -r ~/.ssh /mnt/c/Users/Cielo/OneDrive/系统/'
